{{log model}}
<div class="jumbo show-listing">
  <h2 class="title">{{model.name}}</h2>
  <div class="right detail-section">
    <div class="detail owner">
      <strong>Owner:</strong> {{model.make}}
    </div>
  
    <div class="detail">
      <strong>Location:</strong> {{model.yearMade}}
    </div>
    <div class="detail">
      <strong>Number of bedrooms:</strong> {{model.color}}
    </div>
    <div class="detail">
      <strong>Party Room:</strong> {{model.description}}
    </div>  
<div class="detail">
      <strong>Cool Level:</strong> {{model.model}}
    </div>
  </div>
</div>
{{outlet}}