<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Add a guitar to your list</h2>
  <p>
   Click the button and add all your guitars.
  </p>
<button class="button" {{action "startNewGuitar"  }}>Add Guitar</button><br>
{{#if newGuitar}}
  
  
  {{input type="text" placeholder="Make" value=newGuitar.make}}<label></label><br>
  {{input type="text" placeholder="Model" value=newGuitar.model}}<label></label><br>
  {{input type="text" placeholder="Color" value=newGuitar.color}}<label></label><br>
  {{input type="text" placeholder="Year Made" value=newGuitar.yearMade}}<label></label><br>
  {{input type="text" placeholder="Description" value=newGuitar.description}}<label></label><br>
  <button {{action "submitNewGuitar"}}>Submit</button>
{{/if}}<br>
 
</div>


{{outlet}}