<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Guitar Store</h2>
  <p>
    The Super Rentals website is a delightful project created to explore Ember.
    By building a property rental site, we can simultaneously imagine traveling
    AND building Ember applications.
  </p>
<button class="button" {{action "startNewGuitar" }}>Add Guitar</button><br>
{{#if newGuitar}}
  
  {{input placeholder="Name" type="text" value=newGuitar.name}}<label></label><br>
  {{input placeholder="Make" type="text" value=newGuitar.make}}<label></label><br>
  {{input placeholder="Model" type="text" value=newGuitar.model}}<label></label><br>
  {{input placeholder="Color" type="text" value=newGuitar.color}}<label></label><br>
  {{input placeholder="Year Made" type="text" value=newGuitar.yearMade}}<label></label><br>
  {{input placeholder="Description" type="text" value=newGuitar.description}}<label></label><br>
  <button {{action "submitNewGuitar"}}>Submit</button>
{{/if}}
{{!-- {{log newGuitar}} --}}
</div>


{{outlet}}