<div class="jumbo">
  <div class="right johnfrusciante2"></div>
  <h2>Add a person with MySql!</h2>
  <p>Click View People in the header to see all the people added to the database.</p>


  {{#unless newPerson}}
 {{log newPerson}}
  <button class="button" {{action "startNewPerson" }}>Add Person</button><br>
  {{/unless}}

  {{#if newPerson}}
  {{input placeholder="Name" type="text" value=newPerson.name}}<label></label><br>
  <button class="button" {{action "submitNewPerson" }}>Submit</button>
  {{/if}}

</div>

{{outlet}}