{{outlet}}

{{#each model as |guitar|}}

<div class="grid">
    <div class="grid-item">
        <div class="grid-card">
            <div class="card-col-2 johnfrusciante">
            </div>
            <div class="card-col-1">
                <div class="card">
                    <div class="card-content">
            {{#link-to "guitars.show" guitar.id}}
                        <h3>{{"click hear"}}</h3>
            {{/link-to}}
                        <p class="card-text">Make: {{guitar.make}}</p>
                        <p class="card-text">Model: {{guitar.model}}</p>
                        <p class="card-text">Color: {{guitar.color}}</p>
                        <p class="card-text">Year Made: {{guitar.yearMade}}</p>
                        <p class="card-text">Condition: {{guitar.description}}</p>


                       
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{{/each}}


 
